.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  padding-top: 20px;
  box-sizing: border-box;
  position: fixed;
  left: auto;
  right: auto;
  height: 100%;
  border-left: 1px solid rgb(230, 236, 240);
}

.spinner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trends {
  background-color: rgb(245, 248, 250);
  box-sizing: border-box;
  border-radius: 15px;
}

.head {
  line-height: 30px;
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media (max-width: 1092px) {
  .container {
    width: 322px;
  }
}

@media (max-width: 1002px) {
  .container {
    display: none;
  }
}
