.container {
  height: auto;
}

.main {
  margin: 8px 0;
  box-sizing: border-box;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

@media (max-width: 690px) {
  .main {
    display: none;
  }
  .container {
    border-right: none;
  }
}
