.container {
  width: 598px;
  height: 130px;
  padding: 5px 0;
  box-sizing: border-box;
}

.container form {
  width: 100%;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  width: auto;
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.container img {
  width: 49px;
  padding-top: 5px;
  margin-right: 10px;
}

.container textarea {
  overflow: visible;
  resize: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 19px;
  box-sizing: border-box;
  width: 100%;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border-top: 1px solid rgb(230, 236, 240);
  padding-top: 8px;
}

.btn {
  border-radius: 37px;
  height: 37px;
  width: 74px;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
}

.btn:disabled {
  opacity: 0.5;
}

@media (max-width: 690px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .container textarea {
    font-size: 16px;
  }
  .btnRow {
    width: 100%;
    justify-content: space-between;
  }

  .container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
